# via conda forge
pandas>=2.3
Shapely>=2.1
geopandas>=1.1
matplotlib>=3.10
geopy>=2.4
fiona>=1.10
networkx>=3.5
contextily>=1.6
pytest>=8.4
pytest-cov>=6.2
pytest-xdist>=3.8
xmlschema>=4.1
lxml>=6.0
tqdm>=4.67
tables>=3.10
defusedxml>=0.7
dask_geopandas>=0.5
scipy>=1.16
openpyxl>=3.1
# via pip
#pandapower>=3.1
#pandapipes>=0.12
