# via conda forge
pandas
Shapely
geopandas
matplotlib
geopy
fiona
networkx
contextily
pytest
pytest-cov
pytest-xdist
xmlschema
lxml
tqdm
tables
defusedxml
dask_geopandas
# via pip
#pandapower
#pandapipes
